<% title "Guest List" %>
<h1>Guest List</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Attending</th>
    <th>Party</th>
    <th>Comment</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @guests.each do |guest| %>
  <tr>
    <td><%= guest.name %></td>
    <td><%= guest.attending %></td>
    <td class="party"><%= guest.party %></td>
    <td><%= guest.comment %></td>
    <td><%= link_to 'Show', guest %></td>
    <td><%= link_to 'Edit', edit_guest_path(guest) %></td>
    <td><%= link_to 'Destroy', guest, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>
<h3 class="right">Total - <span id="result"></span></h3>
